{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Expo                                          
  Author: ESORS                                           
  Date: 1st October 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#} 
<div class="media-object">
  <div class="media-object-section">
    <div>{{ fields['field_image_thumbnail'].content }}</div>
  </div>
  <div class="media-object-section">
    <div class="meta">  
       <span class="float-right">{{ fields['field_category'].content }}</span>
       {{ fields['created'].content }}
    </div>
    <h4>{{ fields['title'].content }}</h4>
  </div>
</div>