{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Portfolio                                           
  Author: ESORS                                           
  Date: 19th August 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#}

<div class="media-object stack-for-small">
  <div class="media-object-section text-center">
    <div class="user-picture">{{ fields['user_picture'].content }}</div>
  </div>
  <div class="media-object-section">
		<div class="user-name">{{ fields['name'].content }}</div>
		<div class="user-title">{{ fields['field_title'].content }}</div>
		<div class="user-profile">{{ fields['field_profile'].content }}</div>
  </div>
</div>