/*  Typography
------------------------------------------------------------*/
/*  General
------------------------------*/
.inline-block {
  display: inline-block;
}

/*  Heading 
------------------------------*/
h1.typo-border, h2.typo-border, h3.typo-border {
  margin-bottom: 20px;
  padding: 20px 0;
}

/*  Dropcap 
------------------------------*/
.typo-dropcap { 
  color: #333333;
  display: block;
  float: left; 
  font-size: 60px;
  line-height: 40px; 
  padding: 8px 8px 0 0; 
  font-family: times; 
}

/*  Pre/code 
------------------------------*/
pre.typo-code {
  color: #1B6FC0;
  font-style: italic;
  padding: 15px;
  margin: 10px 0;
  border-top: 5px solid #ebebeb;
  border-bottom: 5px solid #ebebeb;
}

/*  Quote 
------------------------------*/
blockquote.typo {
  font-family: Georgia,Times,serif;
  font-style: italic;
}

blockquote.typo .open {
  padding-left: 25px;
  background: url("../images/icons/quote_open.png") no-repeat left top;
}

blockquote.typo .close {
  padding-right: 25px;
  background: url("../images/icons/quote_close.png") no-repeat right top;
}

blockquote.typo-inset-left {
  float: left;
  width: 250px;
  margin: 10px 20px;
  padding: 5px;
  font-style: italic;
  text-align: center;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}

blockquote.typo-inset-right {
  float: right;
  width: 250px;
  margin: 10px 20px;
  padding: 5px;
  font-style: italic;
  text-align: center;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
}

/*  Badge
------------------------------*/
.typo-badge, .typo-badge-rounded {
  position: relative;
  padding: 5px 0 5px 70px !important;
}

.typo-badge .orange, .typo-badge-rounded .orange,
.typo-badge .red, .typo-badge-rounded .red,
.typo-badge .blue, .typo-badge-rounded .blue,
.typo-badge .green, .typo-badge-rounded .green {
  color:#FFFFFF;
  display:block;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 10px;
  height: 40px;
  line-height: 40px !important;
  width: 40px;
  text-align: center;
}

.typo-badge .orange, .typo-badge-rounded .orange {
  background-color: #d89308;
}

.typo-badge .red, .typo-badge-rounded .red {
  background-color: #c63942;
}

.typo-badge .blue, .typo-badge-rounded .blue {
  background-color: #00aeff;
}

.typo-badge .green, .typo-badge-rounded .green {
  background-color: #959e46;
}

/*  List 
------------------------------*/
ul.typo-dot li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_dot.png") no-repeat 5px 12px;
}

ul.typo-square li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_square.png") no-repeat 5px 12px;
}

ul.typo-arrow li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_arrow.png") no-repeat 5px 12px;
}

ul.typo-arrow-alter li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_arrow_alter.png") no-repeat left 7px;
}

ul.typo-star li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_star.png") no-repeat left 7px;
}

ul.typo-checklist li {
  list-style: none;
  list-style-image: none;
  padding: 5px 0 5px 25px;
  background: url("../images/icons/list_tick.png") no-repeat left 7px;
}

.block ul.typo-arrow li, .block ul.typo-star li, .block ul.typo-checklist li{
  background-position: left 5px; 
}

/*  Message
------------------------------*/
.typo-alert, .typo-announcement, .typo-check, .typo-comment, .typo-contact, .typo-favorite, .typo-stop, .typo-tip {
  padding: 15px 15px 15px 70px;
  margin: 10px 0;
  min-height: 40px;
  border: 1px solid #eee;
}

.typo-alert {
  background: transparent url("../images/icons/warning.png") no-repeat 20px 20px;
}

.typo-announcement {
  background: transparent url("../images/icons/announcement.png") no-repeat 20px 20px;
}

.typo-check {
  background: transparent url("../images/icons/check.png") no-repeat 20px 20px;
}

.typo-comment {
  background: transparent url("../images/icons/comment.png") no-repeat 20px 20px;
}

.typo-contact {
  background: transparent url("../images/icons/contact.png") no-repeat 20px 20px;
}

.typo-favorite {
  background: transparent url("../images/icons/favorite.png") no-repeat 20px 20px;
}

.typo-stop {
  background: transparent url("../images/icons/stop.png") no-repeat 20px 20px;
}

.typo-tip {
  background: transparent url("../images/icons/tip.png") no-repeat 20px 20px;
}